body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#gameContainer {
    text-align: center;
}

#shuffle {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#play3x, #play1x, #fold {
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#others, #playerCards {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

#message, #strategy, #outs {
    margin-bottom: 20px;
    font-size: 20px;
    height: 20px;
    padding: 0px 20px;
}

#strategy {
    font-style: italic;
    visibility: hidden;
}

#outs {
    visibility: hidden;  // initial value
}

.card {
    width: 100px; /* Adjust based on your images */
    height: 140px; /* Adjust based on your images */
    background-size: cover;
}

.other .card {
    margin-top: 10px;
    margin-right: 40px;
}

.grayed-out {
  color: #999;
  background-color: #ccc;
  border: 1px solid #999;
}

.label {
    width: 100px;
    text-align: center;
    margin-top: 10px;
}

#links {
    margin-top: 100px;
}

/* Unvisited link */
a:link {
  color: #007bff; /* Blue color for links */
  text-decoration: none; /* Removes underline from links */
  transition: color 0.3s ease-in-out; /* Smooth color transition */
}

/* Visited link */
a:visited {
  color: #5a5a5a; /* Dark grey color for visited links */
}

/* Hover link */
a:hover {
  color: #ff4500; /* Orange color when mouse hovers over link */
  text-decoration: underline; /* Adds underline on hover for emphasis */
}

/* Active link */
a:active {
  color: #0336ff; /* Different color when link is clicked */
}
